<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Festive&family=Roboto&display=swap');
    </style>

    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/index.css">
    <title>Filnemateca</title>
</head>
<body>
    <%- include("parts/header.ejs") %>
    <main class="container">
        <%
        for(let i=0; i<filmes.length ; i++ ){
            let f = filmes[i];
        %>
            <article>
                <img src="/img/<%= f.cartaz %>" alt="<%= f.titulo %>">
                <a href="/filmes/<%= f.id %>">
                    <span class="titulo"><%= f.titulo %></span>
                    <span class="duracao">Censura: <%= f.censura %> anos </span>
                </a>
            </article>
        <% } %>
    </main>
    <footer>
    </footer>
</body>
</html>